<div class="row">
  <div class="header">
    <div class="small-6 columns">
      <h1 class="logo">TOKI</h1>
    </div>
    <div class="small-6 columns">
      <h1 class="title"><%= title %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns">
    <h3 class="total"><%= toki.helpers.readable_time(toki.helpers.sec_to_time(total)) unless total.nil? %></h3>
  </div>
</div>

<% data.reverse.each do |app| %>
  <div class="row">
    <div class="small-6 columns">
      <h3 class="name"> <%= app['name'] || app['bundle'] %> </h3>
      <h4 class="bundle"> <%= app['bundle'] %> </h4>
    </div>
    <div class="small-6 columns time">
      <h4 class="seconds"> <%= toki.helpers.readable_time(app['total']['time']) %> </h4>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-4 small-centered columns">
    <h3 class="back"><a href="/">BACK TO INDEX</a></h3>
  </div>
</div>
